.loginSection {
  background: var(--main);
  background: linear-gradient(45deg, var(--main), var(--mainHover));
}
.linearButton {
  background: var(--main);
  background: linear-gradient(90deg, var(--main), var(--mainHover));
}
.loginSectionBlock {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
}
.AddProductInput {
  @apply h-[40px] px-2 w-[200px] border-[2px] border-inputBorder rounded-lg text-[14px] outline-none text-textHeadCard font-mainRegular tracking-wider bg-LoginInput transition-colors focus:bg-LoginInputActive;
}

.AddProductInputTitle {
  @apply h-[40px] px-2 max-w-[300px] w-[100%] border-[2px] border-inputBorder rounded-lg text-[14px]  outline-none text-textHeadCard font-mainRegular tracking-wider bg-LoginInput transition-colors  focus:bg-LoginInputActive;
}
.textareaInput {
  @apply h-[90px] max-w-[700px] w-full font-mainRegular;
}
.ActiveProfileNav::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 4px;
  border-radius: 75% 0px 0px 75%;
  right: 0;
}

.productsBg {
  background: rgb(15, 169, 255);
  background: linear-gradient(
    45deg,
    rgba(15, 169, 255, 1) 0%,
    rgba(136, 63, 255, 1) 100%
  );
}
.balanceBg {
  background: rgb(131, 56, 236);
  background: linear-gradient(
    45deg,
    rgba(131, 56, 236, 1) 0%,
    rgba(255, 0, 110, 1) 100%
  );
}

.spentMoneyBg {
  background: rgb(234, 53, 70);
  background: linear-gradient(
    45deg,
    rgba(234, 53, 70, 1) 0%,
    rgba(248, 102, 36, 1) 100%
  );
}
.maclerSideBorder {
  box-shadow: 0 8px 0 #3dbe00, 0 16px 0 rgba(60, 190, 0, 0.6),
    0 24px 0 rgba(60, 190, 0, 0.2);
}

.gradCard1 {
  background: rgb(127, 0, 255);
  background: linear-gradient(
    45deg,
    rgba(127, 0, 255, 1) 0%,
    rgba(23, 0, 114, 1) 100%
  );
}
.gradCard2 {
  background: rgb(0, 102, 255);
  background: linear-gradient(
    45deg,
    rgba(0, 102, 255, 1) 0%,
    rgba(0, 72, 181, 1) 100%
  );
}
.gradCard3 {
  background: rgb(189, 0, 220);
  background: linear-gradient(
    45deg,
    rgba(189, 0, 220, 1) 0%,
    rgba(0, 98, 129, 1) 100%
  );
}
.ResponsiveNavbar::-webkit-scrollbar {
  display: none;
}

.noScrollBar::-webkit-scrollbar {
  display: none;
}

.Loader {
  height: 70px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 8px solid transparent;
  border-top: 8px solid var(--main);
  border-bottom: 8px solid var(--main);
  animation: loading 1s infinite linear;
}
.skeletonLoad {
  animation: 1s skeleton infinite ease-in-out;
}
@keyframes skeleton {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 1000px) {
  .beforeInputBlock {
    position: relative;
  }
  .beforeInputBlock::before {
    content: "";
    position: absolute;
    display: block;
    height: 1px;
    width: 100%;
    border-radius: 5px;
    background-color: var(--whiteLoad);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 800px) {
  .responsiveFilters::-webkit-scrollbar {
    display: none;
  }
}

.lineIndicator {
  animation: lineIndicatorAnimation 10s 1 linear forwards;
  position: absolute;
  background-color: var(--main);
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0%;
}
@keyframes lineIndicatorAnimation {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
