@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: mainSemiBold;
  src: url("/fonts/NotoSansGeorgian-SemiBold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: mainBold;
  src: url("/fonts/NotoSansGeorgian-Bold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: mainMedium;
  src: url("/fonts/NotoSansGeorgian-Medium.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: mainRegular;
  src: url("/fonts/NotoSansGeorgian-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: logoBold;
  src: url("/fonts/junegull.woff2") format("woff2");
  font-display: swap;
}

img {
  -webkit-transform: translateZ(0);
}
.glitchS {
  -webkit-transform: translateZ(0);
}
* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
textarea {
  @apply p-2 resize-none;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(244, 244, 244, 0.1);
}
::-webkit-scrollbar-thumb {
  background-color: var(--main);
}
.smScroll::-webkit-scrollbar {
  width: 5px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.notificationList::-webkit-scrollbar {
  width: 4px;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
body {
  font-family: mainSemiBold;
  letter-spacing: 0.5px;
}
body.no-scroll {
  overflow: hidden;
}
.animwhole {
  animation: 3s animwhole infinite linear;
}

@keyframes animwhole {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animdown {
  animation: 3s animdown infinite linear;
}

@keyframes animdown {
  0% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(60px);
  }
  100% {
    transform: translateY(60px);
  }
}
.animfill {
  animation: 3s animfill infinite linear;
}

@keyframes animfill {
  0% {
    height: 17px;
    width: 26px;
  }
  49% {
    height: 17px;
    width: 26px;
  }
  60% {
    width: 59px;
    height: 44px;
  }
  100% {
    width: 59px;
    height: 44px;
  }
}

.animdoor {
  animation: 3s animdoor infinite;
}

@keyframes animdoor {
  0% {
    height: 300px;
    width: 26px;
  }
  30% {
    height: 300px;
    width: 26px;
  }
  40% {
    height: 17px;
    width: 26px;
  }
  100% {
    height: 17px;
    width: 26px;
  }
}
.greenAnim {
  animation: greenAnimation 1s linear infinite;
}
@keyframes greenAnimation {
  0% {
    background-color: var(--greenI);
  }
  50% {
    background-color: var(--greenHover);
  }
  100% {
    background-color: var(--greenI);
  }
}

.login_container {
  width: calc(100% - 40px);

  margin: 0 auto;
}
.DefButton {
  @apply bg-main rounded-[5px] w-[170px] h-[35px] small:h-[32px] font-mainMedium text-buttonText text-[12px] tracking-widest transition-colors hover:bg-mainHover;
}

.swiper-pagination-bullet {
  @apply bg-whiteMain opacity-80 transition-[background-color,opacity];
}

.swiper-pagination-bullet-active {
  @apply bg-main outline outline-2 outline-whiteMain opacity-100;
}
.maclerLinear {
  background: rgb(255, 255, 255);
  background: linear-gradient(29deg, var(--maclerStart), var(--maclerEnd));
}
main {
  @apply py-8 mobileTab:py-4;
}
.slider-shade {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 70%,
    rgba(0, 0, 0, 0.6) 100%
  );
}
.example-track:nth-child(2) {
  background-color: #3a86ff;
}
.thumbSlider {
  position: absolute;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  outline: 2px solid #3a86ff;
  aspect-ratio: 1;
  background-color: #3a86ff;
  cursor: pointer;
}
input[type="file"] {
  color: transparent;
}
input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
}
